body{
background:#f5f7fb;
font-family:Segoe UI;
}

.navbar-custom{
background:#0f172a;
padding:15px 25px;
border-radius:12px;
display:flex;
justify-content:space-between;
color:white;
margin-bottom:25px;
}

.nav-links{
display:flex;
gap:10px;
}

.nav-item{
background:#f1f5f9;
padding:8px 14px;
border-radius:8px;
text-decoration:none;
color:black;
transition:.3s;
}

.nav-item:hover{
background:#16a34a;
color:white;
}

.logout{
background:#ef4444;
color:white;
}

.hero{
background:linear-gradient(135deg,#16a34a,#22c55e);
padding:40px;
border-radius:16px;
color:white;
margin-bottom:30px;
}

.hero-btn{
background:white;
padding:10px 20px;
border-radius:10px;
text-decoration:none;
}

.stat-card{
border-radius:16px;
transition:.3s;
}

.stat-card:hover{
transform:translateY(-8px);
}

.form-card{
background:white;
padding:30px;
border-radius:16px;
display:flex;
flex-direction:column;
gap:15px;
}

.btn-submit{
background:#16a34a;
color:white;
padding:12px;
border:none;
border-radius:10px;
}

.modern-table{
width:100%;
background:white;
border-radius:16px;
overflow:hidden;
}

.modern-table th{
background:#0f172a;
color:white;
padding:12px;
}

.modern-table td{
padding:12px;
}

.btn-accept{
background:#16a34a;
color:white;
padding:6px 12px;
border-radius:6px;
}

.btn-distribute{
background:#2563eb;
color:white;
padding:6px 12px;
border-radius:6px;
}

.login-card{
width:400px;
margin:100px auto;
background:white;
padding:30px;
border-radius:16px;
text-align:center;
}